<h4><%= @artist.name %></h4>
<% @artist.photos.each do |photo| %>
  <%= image_tag photo.image %>
  <% end %>
  <% @artist.songs.each do |song| %>
<br>  <%=song.name %><br>
  <%= link_to 'Remove song', song, method: :delete, data: { confirm: "Are you sure?" } %><br>
<% end %>
<hr>
<%= render 'songs/form' %>
<%= link_to "Back", root_path %>
