<%= form_for @song, remote: true do |f| %>
    <% @song.errors.full_messages.each do |msg| %>
        <p class="alert alert-danger"><%= msg %></p>
    <% end %>

    <div class="form-group">
      <label>Song name</label>
      <%= f.text_field :name, placeholder: "Song title", class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.hidden_field :artist_id, :value => @artist.id, id: 'artist-id' %>
    </div>

    <div class="actions">
      <%= f.submit "Add", class: "btn btn-primary" %>
    </div>
<% end %>
